// Navigation code here


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;

 h1 {
    .flexpad(flex,1rem,1rem);
   
    .colorsize(black,3em)
    
}

 ul {
    .flexpad(flex,1em,1em);
    justify-content: space-evenly;
    width: 40%;
    



    

    li {
        

        a {
            text-decoration: none;
            .colorsize(black,1em);
        }
    }
}
 
}

